html
    head
        style
        script(src='a.js') alter('abc')
        link(rel="stylesheet", href="a.css")
    body
        div aaa
            span bbb
        div(style = "width:200px; height:200px")
        div(style = {width:'200px',height:'200px'})
        div(title={a:12,b:5})
        div(class="aaa left-warp active")
        div(class=['aaa','left-warp','active'])
        div(title=['aaa','left-warp','active'])
        div
            ul 
                li
                    input(type="text",id='txt1',value='1')
                li
                    input(type="text",id='txt2',value='2')
                li
                    input(type="text",id='txt3',value='3')
                li
                    a(href="http://wwww.baidu.com") 百度
        div.box
        div#box
        div(title='aaa',id='div1')
        div#div1(title='aaa')
        div&attributes({title:'aaa',id:'div1'})
